@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family:'Montserrat', sans-serif;
    background-color: #eee;
    color:#111;
}


.tech-slideshow {
    height: 200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
  .tech-slideshow > div {
    height: 200px;
    width: 2526px;
    background:url("/dist/img/images.jpg");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
    animation: moveSlideshow 30s linear infinite;
  }
  
  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-66.6666%);  
    }
  }